/*------------------------------------*\
    #PAGE
\*------------------------------------*/

html {
	font-family: "Open Sans", sans-serif;
	font-weight: 300;
}
body {
	padding-top: $site-header-height;
	min-width:320px;
}