/*------------------------------------*\
	#LINKS
\*------------------------------------*/

a {
	text-decoration: none;
	color: $color-links;

	@include attention() {
		text-decoration: underline;
	}
}

.resp-iframe {
	display: block;
	@include media-query(mobile) {
		transform: scale(0.6);
	}
}