/*------------------------------------*\
		$PAGE-ANIMATE
\*------------------------------------*/

/**
 * This is the used to animating pages
 */

.animate-fade-out-down {
	position: absolute; // Needed for fading pages over on another
	top:0;
	left:0;
	right:0;
	.page-content-animate {
		animation: fade-out-down 0.25s ease-in;
		-webkit-animation-fill-mode: forwards;
	}
}

.animate-toolbar-fade-out {
	.toolbar {
		opacity: 0;
		transition: opacity 0.25s;
	}
}

.animate-fade-in {
	position: absolute;
	top:0;
	left:0;
	right:0;
	// animation: fade-in 10.3s ease forwards;
	visibility: visible !important;
	.page-content-animate {
		animation: fade-in-up 0.3s ease-out;
		// animation-delay: 10.3s;
	}
}

@keyframes fade-out {
	from { opacity: 1; }
	to { opacity: 0; }
}

@keyframes fade-in {
	from { opacity: 0; }
	to { opacity: 1; }
}

@keyframes fade-out-down {
	0% {opacity: 1; transform: none;}
	100% {opacity: 0; transform: translate3d(0, 80px, 0);}
}

@keyframes fade-in-up {
	0% {transform: translate3d(0, 80px, 0);}
	100% {transform: none;}
}