/*------------------------------------*\
    #SITE-LOGO
\*------------------------------------*/

.#{$components-namespace}site-logo {
	float:left;
	line-height:60px;
}

.#{$components-namespace}site-logo__link {
	display:inline-block;
	&:hover {
		text-decoration: none;
	}
}

.#{$components-namespace}site-logo__desk {
	display:none;
	@include media-query(lap-and-up) {
		display:inline-block;
	}
}