/*------------------------------------*\
    #SITE-HEADER
\*------------------------------------*/

.#{$components-namespace}site-header {
	display: flex;
	flex-flow: row nowrap;
	min-height: $header-height;

	&--mobile {
		@include media-query(lap-and-up) {
			display:none;
		}
	}

	&--desktop {
		display: none;
		@include media-query(lap-and-up) {
			display: flex;
		}
	}
}

.#{$components-namespace}site-header__logo-link {
	display:inline-block;
	line-height:$header-height;
	&:hover {
		text-decoration: none;
	}
}

.#{$components-namespace}site-header__logo-desk {
	display:none;
	@include media-query(lap-and-up) {
		display:inline-block;
	}
}

.#{$components-namespace}site-header__title {
	@include media-query(lap-and-up) {
		padding-left: $base-spacing-unit;
	}
}

.#{$components-namespace}site-header__title-name {
	position:relative;
	line-height:$header-height;
	font-size:$inuit-heading-size-4;
	font-weight:600;
	color:$color-brand;
	@include media-query(lap-and-up) {
		padding-left:$base-spacing-unit;
		@include typography(title);
		@include theme-prop(color, text-secondary-on-background);
		line-height:$header-height;
		&:after {
			content:'';
			display: block;
			position: absolute;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
			height: 24px;
			width: 1px;
			background-color: $color-ui--light;
		}
	}
}

.#{$components-namespace}site-header__nav {
	display:none;
	@include media-query(lap-and-up) {
		display:block;
		padding-left: $base-spacing-unit;
		margin-left: auto;
	}
}

.#{$components-namespace}site-header__nav-link {
	display:flex;
	align-items:center;
	padding: 12px 14px;
	cursor:pointer;
	font-size:24px;
	&:hover {
		text-decoration: none;
	}
}

.#{$components-namespace}site-header__back-link {
	display:flex;
	align-items:center;
	padding: 12px 14px;
	font-size:24px;
	&:hover {
		text-decoration: none;
	}
}