/*------------------------------------*\
    #PAGE-PORTFOLIO
\*------------------------------------*/

.page-portfolio-title {
	font-size: 2rem;
	line-height: 1;
	// text-transform: uppercase;
	@include media-query(lap-and-up) {
		font-size: 3rem;
	}
}

.page-portfolio-subtitle {
	@include typography(title);
	font-weight:400;
	@include media-query(lap-and-up) {
		font-size: 1.5rem;
		line-height: 1;
	}
}

//TODO: Find better place

.page-portfolio-item-mobile-img {
	width: 100%;
	max-width:360px;
}