/*------------------------------------*\
    #PORTFOLIO
\*------------------------------------*/

.#{$components-namespace}portfolio__link,
%#{$components-namespace}portfolio__link {
	display: block;
	position: relative;
	padding:16px;
	background:white;
	@include vendor(box-shadow, 0 2px 2px rgba(0,0,0,0.15));
	margin-bottom:$base-spacing-unit;
	border-radius: $base-round;
	@include media-query(desk) {
		&:hover {
			> .#{$components-namespace}portfolio__excerpt {
				display:block;
			}
		}
	}
}

.#{$components-namespace}portfolio__excerpt,
%#{$components-namespace}portfolio__excerpt {
	display:none;
	position:absolute;
	top:16px;
	right:16px;
	bottom:16px;
	left:16px;
	overflow: hidden;
	padding: $base-spacing-unit;
	color: white;
	background: rgba(#000, .70);
}