/*------------------------------------*\
    #TABS
\*------------------------------------*/

// Vertical tabs with minimalist bottom bordered brand colour

.#{$components-namespace}tabs,
%#{$components-namespace}tabs {
	flex-flow: row nowrap;
}

.#{$components-namespace}tabs__link,
%#{$components-namespace}tabs__link {
	position: relative;
	text-transform: uppercase;
	@include font-weight(bold);
	color: $color-ui;
	&:hover {
		color:darken($color-ui, 10%);
	}
	&.#{$state-namespace}active {
		color:$color-links;
		&:after {
			content:'';
			display: block;
			position: absolute;
			left: 0;
			bottom: 0;
			height: 3px;
			width: 100%;
			background-color: $color-brand;
		}
	}
}