/*------------------------------------*\
    #SITE-MOBILE-NAV
\*------------------------------------*/

.#{$components-namespace}site-nav {
	float:right;
	@include media-query(lap-and-up) {
		display:none;
	}
}

.#{$components-namespace}site-nav__link {
	display:block;
	padding: 18px $base-spacing-unit;
	cursor:pointer;
	&:hover {
		text-decoration: none;
	}
}

.#{$components-namespace}site-nav__list {
	display:none;
	position: fixed;
	top: 62px;
	background: white;
	left: 0;
	right: 0;
	bottom: 0;
}