/*------------------------------------*\
    #PAGE-HEAD
\*------------------------------------*/

$header-height: $site-header-height;

.#{$components-namespace}page-head {
	position: fixed;
	top:0;
	left:0;
	right:0;
	height: $header-height;
	background:white;
	@include vendor(box-shadow, 0 1px 5px rgba(0,0,0,0.35));
	@include transition(top 0.1s 0.0s ease-out);
	z-index:2;
	&.#{$state-namespace}hidden {
		top:-$header-height;
	}
}

.#{$components-namespace}page-head-adjust {
	margin-top: 60px;
}