$icon-path: '../fonts';

@font-face {
    font-family: 'icons';
    src:
        url('#{$icon-path}/icons.ttf?hrl4rt') format('truetype'),
        url('#{$icon-path}/icons.woff?hrl4rt') format('woff'),
        url('#{$icon-path}/icons.svg?hrl4rt#icons') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="i-"], [class*=" i-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.i-cross:before {
  content: "\e906";
}
.i-arrow-down:before {
  content: "\e902";
}
.i-arrow-up:before {
  content: "\e903";
}
.i-arrow-right:before {
  content: "\e904";
}
.i-arrow-left:before {
  content: "\e905";
}
.i-back:before {
  content: "\e907";
}
.i-new-tab:before {
  content: "\e901";
}
.i-menu:before {
  content: "\e900";
}