/*------------------------------------*\
    $NAV
\*------------------------------------*/

$nav-gutter:           $base-spacing-unit !default;
$nav-gutter--tiny:       quarter($nav-gutter) !default;
$nav-gutter--small:        halve($nav-gutter) !default;
$nav-gutter--large:       double($nav-gutter) !default;
$nav-gutter--huge:     quadruple($nav-gutter) !default;

/**
 * Base Nav styles
 */
.#{$objects-namespace}nav,
%#{$objects-namespace}nav {
	list-style:none;
	margin: 0;
	margin-left: -$nav-gutter;
	display:flex;
	flex-flow: row wrap;
}

.#{$objects-namespace}nav__item,
%#{$objects-namespace}nav__item {
	padding-left: $nav-gutter;
}

.#{$objects-namespace}nav__link,
%#{$objects-namespace}nav__link {
	display:block;
	&:focus {
		outline:0;
		text-decoration: none;
	}
	&:hover {
		text-decoration: none;
	}
}

/**
 * Direction modifiers
 */
.#{$objects-namespace}nav--stacked,
%#{$objects-namespace}nav--stacked {

	margin-left: 0;
	flex-flow: column  wrap;

	> .#{$objects-namespace}nav__item,
	> %#{$objects-namespace}nav__item {
			padding-left: 0;
	}
}

/**
 * Block modifier for chunky button hit areas
 */
.#{$objects-namespace}nav--block,
%#{$objects-namespace}nav--block {

	> .#{$objects-namespace}nav__item,
	> %#{$objects-namespace}nav__item {

		> .#{$objects-namespace}nav__link,
		> %#{$objects-namespace}nav__link {
			padding:$base-spacing-unit;
		}
	}
}

/**
 * Fit modifier
 */
.#{$objects-namespace}nav--fit,
%#{$objects-namespace}nav--fit {

	> .#{$objects-namespace}nav__item,
	> %#{$objects-namespace}nav__item {
			flex:1;
	}
}