/*------------------------------------*\
	#MEDIA
\*------------------------------------*/

/**
 * A flexible abstraction for the Media design pattern in Flexbox.
 */

$media-gutter:           $base-spacing-unit !default;
$media-gutter--tiny:       quarter($media-gutter) !default;
$media-gutter--small:        halve($media-gutter) !default;
$media-gutter--large:       double($media-gutter) !default;
$media-gutter--huge:     quadruple($media-gutter) !default;

/**
 * Begin a media block.
 * 1. Display as flex
 * 2. Set flex to row (horizontal) and no wrapping
 * 3. Negative margin container so first item padding is cancelled out and flush.
 */
.#{$objects-namespace}media,
%#{$objects-namespace}media {
	display: flex; /* [1] */
	flex-flow: row nowrap; /* [2] */
	margin-left: -$media-gutter; /* [3] */
}

/**
 * 1. Default padding for items and body
 * 2. Nudge Mixin to alert for improper use. (not part of core)
 */

.#{$objects-namespace}media__item,
%#{$objects-namespace}media__item,
.#{$objects-namespace}media__body,
%#{$objects-namespace}media__body, {
	padding-left: $media-gutter; /* [1] */
}

/**
 * 1. Set body to fill remaining space of parent.
 */
.#{$objects-namespace}media__body,
%#{$objects-namespace}media__body {
	flex: 1; /* [1] */
}

/**
 * Item modifiers
 */

.#{$objects-namespace}media__item--right,
%#{$objects-namespace}media__item--right {
	margin-left:auto; /* [1] */
}

.#{$objects-namespace}media__item--left,
%#{$objects-namespace}media__item--left {
	margin-right:auto; /* [1] */
}

/**
 * Space modifiers.
 */

.#{$objects-namespace}media--small,
%#{$objects-namespace}media--small {

	margin-left: $media-gutter--small;

	> .#{$objects-namespace}media__item,
	> %#{$objects-namespace}media__item {
			padding-left: $media-gutter--small;
	}
}

.#{$objects-namespace}media--large,
%#{$objects-namespace}media--large {
	margin-left: $media-gutter--large;

	> .#{$objects-namespace}media__item,
	> %#{$objects-namespace}media__item {
			padding-left: $media-gutter--large;
	}
}

.#{$objects-namespace}media--flush,
%#{$objects-namespace}media--flush {
	margin-left: 0;

	> .#{$objects-namespace}media__item,
	> %#{$objects-namespace}media__item {
			padding-left: 0;
	}
}

/**
 * Vertical alignemnt modifiers.
 */

.#{$objects-namespace}media--middle,
%#{$objects-namespace}media--middle {
	align-items: center;
}

.#{$objects-namespace}media--bottom,
%#{$objects-namespace}media--bottom {
	align-items: flex-end;
}

/**
 * Horizontal alignemnt modifiers.
 */

.#{$objects-namespace}media--center,
%#{$objects-namespace}media--center {
	justify-content: center;
}

.#{$objects-namespace}media--right,
%#{$objects-namespace}media--right {
	justify-content: flex-end;
}

.#{$objects-namespace}media--left,
%#{$objects-namespace}media--left {
	justify-content: flex-start;
}

.#{$objects-namespace}media--fit,
%#{$objects-namespace}media--fit {
	justify-content:space-between;
}