///*------------------------------------*\
//    #GLOBAL
//\*------------------------------------*/

$brand-color:   #303F9F;
$brand-round:   3px;
$base-round:    $brand-round;

/**
 * Font Sizes
 */
$heading-size-giga: 96px!default;
$heading-size-mega: 72px!default;
$heading-size-kilo: 48px!default;