/*------------------------------------*\
    #ALIASES
\*------------------------------------*/

$base-spacing-unit: $inuit-base-spacing-unit;
$base-spacing-unit--small: $inuit-base-spacing-unit--small;
$base-spacing-unit--large: $inuit-base-spacing-unit--large;

$base-font-size: $inuit-base-font-size;

$base-text-color: $inuit-base-text-color;