/*------------------------------------*\
    #RHYS GREGORY PORTFOLIO
\*------------------------------------*/

/**
 * CONTENTS
 *
 * SETTINGS - Global variables, site-wide settings, config switches, etc.
 * Default..............inuitcss’ default settings.
 * Global...............Globally-available variables and settings/config.
 * Colors...............Manage our color palette in isolation.
 * Responsive...........inuitcss’ set up and name our breakpoints.
 *
 * TOOLS - Site-wide mixins and functions.
 * Functions............inuitcss’ default functions.
 * Mixins...............inuitcss’ default mixins.
 * Mixins...............Our default mixins.
 * Namespaces...........Our namespaces.
 * Widths...............inuitcss’ width tools.
 * Responsive...........inuitcss’ responsive tooling (requires responsive settings).
 * Aliases..............Aliases onto longer inuitcss variables and mixins.
 *
 * GENERIC - Low-specificity, far-reaching rulesets (e.g. resets).
 * Normalize.css........inuitcss’ A level playing field.
 * Reset................inuitcss’ A pared back reset to remove margins.
 * Box-sizing...........inuitcss’ Better default `box-sizing`.
 * Shared...............inuitcss’ Sensibly and tersely share global commonalities.
 *
 * BASE - Unclassed HTML elements (e.g. a {}, blockquote {}, address {}).
 * Page.................inuitcss’ page-level styles (HTML element).
 * Page.................Our page-level styles (HTML element).
 * Headings.............inuitcss’ heading styles
 * Type.................Misc type styles
 * Links................Our Hyperlink styles
 * Images...............inuitcss’ images
 *
 * OBJECTS - Objects, abstractions, and design patterns (e.g. .o-layout {}).
 * Buttons..............inuitcss’ buttons module.
 * Layout...............inuitcss’ layout tool.

 * COMPONENTS - Discrete, complete chunks of UI (e.g. .c-carousel {}).
 * Buttons..............Extension of inuitcss’ buttons.
 * Portfolio............Portfolio items on homepage.
 *
 * TRUMPS - High-specificity, very explicit selectors. Overrides and helper classes (e.g. .u-hidden {}).
 * Widths...............inuitcss’ Simple width helper classes.
 * Spacing..............inuitcss’ Micro-level spacing.
 * Spacing-Responsive...inuitcss’ Responsive spacing.
*/

/**
 * #SETTINGS
 */
@import "bower_components/inuit-defaults/settings.defaults";
@import "settings.global";
@import "settings.colors";
@import "settings.responsive";

/**
 * #TOOLS
 */

@import "theme/theme.scss";
@import "bower_components/inuit-functions/tools.functions";
@import "bower_components/inuit-mixins/tools.mixins";
@import "tools.mixins";
@import "tools.namespaces";
@import "bower_components/inuit-tools-widths/tools.widths";
@import "bower_components/inuit-responsive-tools/tools.responsive";
@import "tools.aliases";
$nudge-underscores: false !default;
$nudge-single-spaces: false !default;
@import "typography/typography.scss";

/**
 * #GENERIC
 */
@import "bower_components/inuit-normalize/generic.normalize";
@import "bower_components/inuit-reset/generic.reset";
@import "bower_components/inuit-box-sizing/generic.box-sizing";
@import "bower_components/inuit-shared/generic.shared";

/**
 * #BASE
 */
@import "bower_components/inuit-page/base.page";
@import "base.page";
@import "bower_components/inuit-headings/base.headings";
@import "base.type";
@import "base.links";
@import "bower_components/inuit-images/base.images";

/**
 * #OBJECTS
 */
$inuit-btn-namespace: $objects-namespace;
$inuit-btn-background: $color-btn;
$inuit-btn-border-width: 1px;
$inuit-enable-btn--tiny:true;
$inuit-enable-btn--small:true;
$inuit-enable-btn--large:true;
$inuit-enable-btn--full:true;
$inuit-btn-radius:3px;
$inuit-enable-btn--pill: true;
@import "bower_components/inuit-buttons/objects.buttons";
$inuit-box-namespace: $objects-namespace;
@import "bower_components/inuit-box/objects.box";
@import "objects.layout";
@import "objects.media";
@import "objects.wrapper";
@import "objects.bands";
@import "objects.nav";
$inuit-list-ui-namespace: $objects-namespace;
$inuit-list-ui-border-color: $color-ui--light;
$inuit-enable-list-ui--large:true;
$inuit-enable-list-ui--small:true;
$inuit-enable-list-ui--tiny: true;
@import "bower_components/inuit-list-ui/objects.list-ui";

/**
 * #COMPONENTS
 */
@import "components.buttons";
@import "components.page-head";
@import "components.site-nav-list";
@import "components.site-nav-desk";
@import "components.site-header";
@import "components.nav";
@import "components.tabs";
@import "components.project-card";
@import "components.portfolio-item";
@import "components.bands";
@import "components.masonry-grid";
@import "components.page-animate";
@import "components.page-hero-image";
@import "components.video-iframe";
@import "components.page-portfolio";

/**
 * #ICONS
 */
@import "icons";

/**
 * #UTILITIES
 */
@import "utilities.helper";

/**
 * #TRUMPS
 */
@import "trumps.widths";
@import "trumps.widths-responsive";
@import "bower_components/inuit-headings-trumps/trumps.headings";
$inuit-spacing-namespace: $utilities-namespace;
$inuit-enable-margins:true;
$inuit-enable-margins--large:true;
$inuit-enable-margins--small:true;
$inuit-enable-margins--tiny:true;
$inuit-enable-margins--none:true;
$inuit-enable-paddings:true;
$inuit-enable-paddings--none:true;
$inuit-enable-paddings--tiny:true;
$inuit-enable-paddings--small:true;
$inuit-enable-paddings--large:true;
@import "bower_components/inuit-spacing/trumps.spacing";
$inuit-enable-responsive-margins--large:true;
@import "bower_components/inuit-spacing-responsive/trumps.spacing-responsive";
@import "bower_components/inuit-clearfix/trumps.clearfix";
//@import "bower_components/nudgecss/trumps.nudge"; // Delete for Production