///*------------------------------------*\
//    #GLOBAL
//\*------------------------------------*/

$brand-color:   #303F9F;
$brand-round:   3px;
$base-round:    $brand-round;

// Variable names: brand, base, color