---
layout: default
title: Portfolio
---
<section class="o-band  c-band">
	<div class="masonry-grid" >
		<div class="masonry-gutter-sizer"></div> 
		<div class="masonry-grid-sizer"></div>
		{% for post in site.posts %}
		<div class="masonry-grid-item">
			{% include portfolio-card/portfolio-card.html
			title=post.title
			excerpt=post.excerpt
			image=post.imageThumb %}
		</div>
		{% endfor %}
	</div>
</section>

<section class="o-band">
	<div class="o-wrapper  o-wrapper--narrow  u-text-center">
		<p class="u-kilo  u-caps">Smart UX. Bold Design. Better Products.</p>
		<p class="gamma"><i>Leading UX/UI Design, Web Front-End Development and Branding</i></p>
		<a class="o-btn  c-btn  u-mb" href="mailto:rhys.m.gregory@gmail.com">Get In Touch!</a>
	</div>
</section>

<section class="o-band  c-band">
	<div class="o-wrapper  o-wrapper--narrow  u-text-center">
		<p class="u-caps">Join the companies I've collaborated with</p>
		<ul class="o-layout  o-layout--center  u-mt+  u-mb" style="max-width:600px; margin:auto;">

			<li class="o-layout__item  u-1/2  u-1/4-lap-and-up">
				<img class="u-mb" width="100" src="/img/clients/racing-qld.png" alt="Racing Queensland">
			</li>
			<li class="o-layout__item  u-1/2  u-1/4-lap-and-up">
				<img class="u-mb" width="100" src="/img/clients/punters.png" alt="Punters">
			</li>
			<li class="o-layout__item  u-1/2  u-1/4-lap-and-up">
				<img class="u-mb" width="100" src="/img/clients/betting-club.png" alt="Betting.Club">
			</li>
			<li class="o-layout__item  u-1/2  u-1/4-lap-and-up">
				<img class="u-mb" width="100" src="/img/clients/pick-champs.png" alt="PickChamps">
			</li>

		</ul>
	</div>
</section>