---
layout: default
title: Portfolio
---
<ul class="o-layout  o-layout--flush  u-mb">
	{% for post in site.posts %}
	<li class="o-layout__item  u-1/2  u-1/4-lap-and-up">
		<a href="{{ post.url | prepend: site.baseurl }}" class="c-portfolio__link">
			<img src="/img/portfolio/{{ post.imageThumb }}">
			<div class="c-portfolio__excerpt">
				<div class="o-media">
					<div class="o-media__item"><b>{{ post.title}}</b></div>
					<div class="o-media__item  o-media__item--right"><small>{{ post.date | date: "%b %-d, %Y" }}</small></div>
				</div>
				<div><small>{% for tag in post.tags %} {{ tag }}{% if forloop.last == false %},{% endif %} {% endfor %}</small></div>
				<hr>
				<small>{{ post.excerpt | remove: '<p>' | remove: '</p>' | truncatewords:15 }}</small>
			</div>
		</a>
	</li>
	{% endfor %}
</ul>

<section class="o-band">
	<div class="o-wrapper  o-wrapper--narrow  u-text-center">
		<p class="u-kilo  u-caps">Smart UX. Bold Design. Better Apps.</p>
		<p class="gamma"><i>Leading UX/UI Design, Web Front-End Development and Branding</i></p>
		<a class="o-btn  c-btn  u-mb" href="mailto:rhys.m.gregory@gmail.com">Get In Touch!</a>
	</div>
</section>

<section class="o-band  c-band">
	<div class="o-wrapper  o-wrapper--narrow  u-text-center">
		<p class="u-caps">Join the companies I've collaborated with</p>
		<ul class="o-layout  o-layout--center  u-mt+  u-mb" style="max-width:600px; margin:auto;">

			<li class="o-layout__item  u-1/2  u-1/4-lap-and-up">
				<img class="u-mb" width="100" src="/img/clients/racing-qld.png" alt="Racing Queensland">
			</li>
			<li class="o-layout__item  u-1/2  u-1/4-lap-and-up">
				<img class="u-mb" width="100" src="/img/clients/punters.png" alt="Punters">
			</li>
			<li class="o-layout__item  u-1/2  u-1/4-lap-and-up">
				<img class="u-mb" width="100" src="/img/clients/betting-club.png" alt="Betting.Club">
			</li>
			<li class="o-layout__item  u-1/2  u-1/4-lap-and-up">
				<img class="u-mb" width="100" src="/img/clients/pick-champs.png" alt="PickChamps">
			</li>

		</ul>
	</div>
</section>