---
layout: default
---

<ul class="o-layout  o-layout--flush  u-mb">
	{% for i in (1..3) %}
	{% for post in site.posts %}
	<li class="o-layout__item  u-1/6  u-1/4-lap  u-1/2-palm">
		<a href="{{ post.url | prepend: site.baseurl }}" class="c-portfolio__link">
			<img src="/img/{{ post.imageThumb }}">
			<div class="c-portfolio__excerpt">
				<div><b>{{ post.title}}</b></div>
				<small>{{ post.excerpt | truncatewords:15}}</small>
				<small>{{ post.date | date: "%b %-d, %Y" }}</small>
			</div>
		</a>
	</li>
	{% endfor %}
	{% endfor %}
</ul>

<div class="o-wrapper  o-wrapper--narrow">
	Other Content
</div>