{% assign url = page.url|remove:'index.html' %}
<header class="c-page-head" id="js-site-header">
	<div class="o-wrapper  o-wrapper--narrow  clearfix">

		<div class="c-site-header">
			<div class="c-site-header__logo">
				<a class="c-site-header__logo-link" href="/">
					<img src="/img/rg-logo__brand-mark.svg" height="25" alt="Rhys Gregory">
					<img src="/img/rg-logo__word-mark.svg" class="c-site-header__logo-desk  u-ml-" height="25" alt="Rhys Gregory">
				</a>
			</div>

			<div class="c-site-header__back">
				{% if page.is_post == true %}
				<a class="c-site-header__back-link" href="/"><i class="i-arrow-left"></i></a>
				{% endif %}
			</div>

			<div class="c-site-header__title">
				<div class="c-site-header__title-name">{{ page.title }}</div>
			</div>
			
			<div class="c-site-header__nav">
				<a class="c-site-header__nav-link  js-site-nav-btn"><i class="i-menu  js-site-nav-icon"></i></a>
				<ul class="c-site-nav-desk  o-nav  c-tabs">
					{% for link in site.navigation %}
					<li class="c-site-nav-desk__item  o-nav__item">
						<a href="{{link.url}}" title="{{link.title}}" class="c-site-nav-desk__link  o-nav__link  c-tabs__link  {% if url == link.url %}is-active{% endif %}">{{link.text}}</a>
					</li>
					{% endfor %}
				</ul>
			</div>

		</div>

	</div>
</header>