<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>Rhys Gregory | {% if page.title %} {{ page.title }} {% else %} {{ site.title }} {% endif %}</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Fav Icons -->
	<link rel="apple-touch-icon" sizes="180x180" href="/img/fav/apple-touch-icon.png">
	<link rel="icon" type="image/png" href="/img/fav/favicon-32x32.png" sizes="32x32">
	<link rel="icon" type="image/png" href="/img/fav/favicon-16x16.png" sizes="16x16">
	<link rel="manifest" href="/img/fav/manifest.json">
	<link rel="mask-icon" href="/img/fav/safari-pinned-tab.svg" color="#303f9f">
	<link rel="shortcut icon" href="/img/fav/favicon.ico">
	<meta name="msapplication-config" content="/img/fav/browserconfig.xml">
	<meta name="theme-color" content="#ffffff">

	<link rel="stylesheet" href="/css/main.min.css">
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>
	<script src="/js/vendor/modernizr-2.8.3.min.js"></script>
</head>